body {
  font-family: sans-serif;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
}
hr {
  width: 30%;
}
q {
  -webkit-text-stroke: 2px rgb(2, 19, 252);
}
footer {
  box-shadow: 1px 1px 15px 10px rgb(2, 19, 252);
}

.footer {
  background-image: url(../img/triple-burger.png);
  background-size: contain;
  background-repeat: round;
}

.jumbotron {
  background-image: url(../img/single-burger.png);
  background-size: contain;
  background-repeat: round;
  outline-width: 3px;
  outline-style: double;
  outline-color: rgb(2, 19, 252);
  box-shadow: 1px 1px 15px 10px rgb(2, 19, 252);
}
.jumbotron h1 {
  font-size: 100px;
  color: azure;
  box-shadow: 1px 1px 15px 10px rgb(2, 19, 252);
  text-shadow: 3px 3px rgb(2, 19, 252);
}

#devourIt {
  background-color: blue;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

#newBurger {
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
