body {
  font-family: sans-serif;
  background-color: #1c7eac;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#submit {
}

#devourIt {
}

#newBurger {
   top: 40%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
}
